<div class="header">
  <a href="#default" class="logo">APP</a>
  <div class="header-right">
    <%= link_to 'coordinaters', coordinators_path %>
    <%= link_to 'registries', registries_path %>
    <%= link_to 'participants', participants_path %>
    <%= link_to 'enrollments', enrollments_path %>
  </div>
</div>